@font-face {
    font-family: 'arsenalregular';
    src: url('../fonts/arsenal-regular-webfont.eot');
    src: url('../fonts/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arsenal-regular-webfont.woff') format('woff'),
         url('../fonts/arsenal-regular-webfont.ttf') format('truetype'),
         url('../fonts/arsenal-regular-webfont.svg#arsenalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


hr { display: block; height: 3px;
    border: 0; border-top: 1px solid #58768e;
    padding: 0; }
	
body {
	background-image: url(../img/tile.png);
	min-width: 1100px;
	margin: 0;
}

html {
	height: 120%;
	overflow-x: hidden;
}

a {
	color: #DDD;
}

li
{
    list-style-type: none;
}

#nav {
	margin: 0;
	padding: 7px 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47, 86, 116, 1)), color-stop(98%,rgba(0, 0, 0, 1)));
	line-height: 100%;
	font-size:.8em;
	z-index:1000;
	width:100%;
}
#nav li {
	margin: 0 1.5%;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
	}



/* main level link */
#nav a {
	font-weight: bold;
	color: rgb(218, 218, 218);
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #58768e;
	color: #FFF;

	}

/* main level link hover */
#nav .current a, #nav li:hover > a {
	background: #e6e6e6;
	color: #444;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background:919191;
	border: none;
	color: #444;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #424242 url(../img/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;
	z-index:2;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(../img/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}

#main{
	width:90%;
	position:relative;
	height:inherit;
	margin:auto;
	font-family: 'arsenalregular';
	background-image: url(../img/tile2.png);
	border:7px ridge #58768e;
}

#wrapper{
	z-index:1;
	width:100%;
	position:relative;
	height:inherit;
	margin:1% auto 0 auto;
}

#left{
	z-index:1;
	width:24%;
	float:left;
	overflow-y:auto; 
	text-align: center;
	height:80.7%;
    margin-right:1.25%;
	margin-left:.5%;
	display:inline-block;
	background-image: url(../img/tile.png);
	border:3px solid #58768e;
}

#right{
	z-index:1;
	width:24%;
	height:80.7%;
	text-align: center;
	float:right;
	overflow-y:auto;
	margin-left:1.25%;
	margin-right:.5%;
	display:inline-block;
	background-image: url(../img/tile.png);
	border:3px solid #58768e;
}

#center{
	z-index:1;
	width:45%;
	text-align: center;
	overflow-y:auto;
	height:80.7%;
	margin-left:0.95%;
	display:inline-block;
	background-color:rgba(206, 218, 228, 0.84);
	border:3px solid #58768e;
}

#center_1{
	z-index:1;
	width:71.5%;
	overflow-y:auto;
	height:80.7%;
	min-width:600px;
	margin-left:1.25%;
	margin-right:0.5%;
	display:inline-block;
	background-color:#eaf0f5;
	border:3px solid #58768e;
	}

#center h,#center_1 h{
	width:85%;
	text-align:justify;
	margin:7% auto;
}

#center p{
	width:90%;
	text-align:center;
	margin:7% auto;
}

#center_1 p{
	width:90%;
	text-align:justify;
	margin:7% auto;
}

#footer{
	z-index:1;
	width:100%;
	position:RELATIVE;
	margin: 1% auto 0 auto;
	height:150px;
	background-image: url(../img/foot.png);
	background-repeat: no-repeat;
	background-position: left;
	border-top:7px outset #3F5769;
}

#f_1{
	z-index:1;
	width:13%;
	text-align: center;
	float:right;
	margin:4%;
	display:inline-block;

}
a:hover {
    color: #003366;
  }

#new {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(42,35,75,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(53,88,108,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(53,88,108,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(53,88,108,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 12px auto;
	width: 160px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

#new:active {
    -webkit-box-shadow: 0px 3px 0px rgba(53,88,108,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(53,88,108,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(53,88,108,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}